.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Color de fondo similar a la imagen */
  }
  
  .login-panel {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
    width: 600px; 
    height: 580px;/* Ancho del panel */
  }
  
  .logo {
    width: 300px; /* Ajusta el tamaño del logo */
    margin: 0 auto 20px;
    display: block;
  }
  
  .login-panel h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  .input-group input {
    box-shadow: 0.3rem 0.3rem 0 rgba(84, 84, 84, 0.2); 
    width: 140%;
    padding: 10px;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
    margin-right: 3rem;
    box-sizing: border-box;
  }
  
  .login-button {
    width: 40%;
    margin-top: 2rem;
    padding: 1rem;
    padding-left: 1rem; /* Ajusta el padding-left si es necesario */
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    transition: background 0.3s ease, color 0.3s ease; 
  }
  
  .login-panel .inputs {
    margin-right: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-panel .container-login-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-button:hover {
    background: var(--green);
    color: #fff; /* Color de fondo al pasar el mouse */
  }

  

  .login-button-google {
    display: flex;
    align-items: center;
    justify-content: center;
    width:  40%;
    margin-top: 2rem;
    padding: 0.7rem 1rem;
    padding-left: 1rem; /* Ajusta el padding-left si es necesario */
    border: 0.2rem solid var(--gray);
    border-radius: var(--border-radius);
    box-shadow: 0.5rem 0.5rem 0 rgba(84, 84, 84, 0.412);
    color: var(--gray);
    cursor: pointer;
    font-size: 1.7rem;
    transition: background 0.3s ease, color 0.3s ease; 
  }

  .login-button-google:hover {
    background: var(--gray);
    color: #fff; /* Color de fondo al pasar el mouse */
  }


  img {
    width: 17% ;
    display: flex;
    flex: 0;
  }

