.quiz .quiz-button {
    display: inline-block;
    width: 10%;
    margin-top: 1rem;
    padding: 1.5rem;
    padding-left: 1rem; /* Ajusta el padding-left si es necesario */
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    margin-bottom: 17.6rem;
    transition: background 0.3s ease, color 0.3s ease; /* Transición para hover */
}

.quiz .btn2{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.quiz .quiz-button:hover {
    background: var(--green);
    color: #fff;
}

.quiz .quiz-button:hover span {
    color: var(--green);
    background: #fff;
}

.quiz .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    padding-top: 10rem; 
    padding-bottom: 1rem;
}

.quiz h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10rem;
    margin-top: 10rem;
    padding-top: 10rem;
    margin-bottom: 4px;
    color: var(--black);
    line-height: 2;
}

.quiz .content .span1{
    display: flex;
    font-size: 5rem;
}

