/* Estilos para el footer */
html, body {
    /* No es necesario definir display: flex aquí, ya que el footer no es un contenedor flex * 
    /* Asegura que el cuerpo y el html ocupen toda la altura */
    margin: 0;
    height: 100%;
  }
  
  .footer{
    position: relative;
  }
  
  /* Estilos para la lista de enlaces */
  .footer ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
    display: flex; /* Convierte la lista en un contenedor flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  /* Estilos para los elementos de la lista (los <li>) */
  .footer li {
    margin: 0 50px; /* Margen a la izquierda y a la derecha de 50px */
    font-size: 20px; /* Tamaño de fuente de 20px */
  }
  
  /* Estilos para los enlaces */
  .footer a {
    /* Los estilos para los enlaces se definen aquí */
    color: #ffffffb4; /* Color de texto */
    text-decoration: none; /* Elimina el subrayado */
  }