.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.nav-item {
  font-size: 1.7rem;
  color: var(--light-color);
  margin-left: 2rem;
}

.nav-item:hover {
  color: var(--green);
}
